<!DOCTYPE html>
<html>
<head>
  <title>TodoRails</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="flash">
      <% flash.each do |name, msg| %>
        <div class="alert alert-<%= flash_class name %>" >
          <%= msg %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </div>
</body>
</html>
